
body{
    background-color: cadetblue ;

}

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    overflow-x: hidden;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: skyblue; 
    padding-top: 60px; 
    transition: 1s; 
  }
  
.barContent{
    margin: 10px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    background-color: paleturquoise;
    border-radius: 10px;
}

.barContent:hover{
    background-color: lightblue;
    color: lightskyblue;
    transition: 0.5s;

}

.sidebar .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.closeButton{
    color: #111;

}

.closeButton:hover{
    color: lightgray;   
    transition: 0.5s;
}
  
.openButton {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
.openButton:hover {
    background-color: #444;
    transition: 0.5s;
  }
  
  
#main {
    transition: margin-left .5s; 
    padding: 20px;
  }
  